nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .orange
{
    color: #ffa500;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #ffff1a;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;    
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 80%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 90%;
  position: absolute;
  width: 100%;
}

.messages {
  font-size: 100%;
}

.inputMessage {
  font-size: 100%;
}

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.username {
  font-weight: 300;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 3px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.borderless td, .borderless th {
    border: none;
}

.stamp {
  font-size: 60%;
  font-family: "Verdana", Helvetica, sans-serif;
}

.postContainer {
  height: 60px;
  outline: none;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
}

.postUsername {
  font-weight: 300;
  overflow: hidden;
  text-align: left;
}

.post {
  border: 2px solid;
  padding-bottom: 2px;
}

.postText {
  outline: none;
}

.posts {
  padding-bottom: 10px;
}

.postText {
  width: 80%;
  height: 100%;
}

