{% extends "home-layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <p>This is a website that was created as a CS50 final project. The idea of the website is to provide a safe space for queer or questioning individuals, geared towards teenagers and adolescents, to talk to one another. The goal is to create a place where those who have no one in their daily life to turn to can come to and find people who have or are going through similar struggles.</p>
{% endblock %}