{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    	{% if dest == "" %}
    		<h1 align="center">Public group with all users</h1>
    		<div class="buddy" style="display: none"></div>
    	{% else %}
    		<h1 align="center">Private chat with {{ dest }}</h1>
        	<div class="buddy" style="display: none">{{ dest }}</div>
        {% endif %}
		
        <div class="discussionArea">
            <ul class="messages">
                {% for message in messages %}
                    <li class="message">
                        <span class="username">{{ message.username }}</span>
                        <span class="messageBody">{{ message.text }}</span>
                        <span class="stamp">&nbsp({{ message.stamp|strftime() }})</span>
                    </li>
                {% endfor %}
            </ul>
            <div class="container postContainer">
                <div class="row">
    	           <input id="inputMessage" class="postText" placeholder="Type here"/>
                </div>
            </div>
        </div>

{% endblock %}
 