{% extends "layout.html" %}

{% block title %}
    Discussions
{% endblock %}

{% block main %}
	<div class="discussionArea">
		<ul class="posts">
			{% for post in posts %}
  				<li class="post">
					<span class="username">{{ post.username }}</span>
					<span class="postStamp">&nbsp({{ post.stamp|strftime() }})</span> <br>
					<span class="postBody">{{ post.text }}</span>
				</li>
        	{% endfor %}
		</ul>
	</div>
	<div class="container postContainer">
		<div class="row">
			<div class="col-9">
				<input id="postText" class="postText" placeholder="Post here"/>
				<button id="postSubmit" class="btn">Post</button>
			</div>
		</div>
	</div>
{% endblock %}