{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table align="center" class="table borderless">
    	<tr><td></td><td>Select a user to begin a chat</td></tr>
    	<td></td><th>Users</th>
    	{% for u in users %}
    	{% if u.id != curr_user %}
    		<tr>
    			<td id="{{ u.id }}"> {{ u.username }}</td>
    			<td><button class="btn btnprof" id="profile" name="{{ u.username }}">View profile</button></td>
    			<td><a href="/private/{{u.username}}">Start Private Chat</a> </td>
    		</tr>
    	{% endif %}
    	{% endfor %}
    </table>
{% endblock %}